<div class="container">

    <form [formGroup]="loginForm" (ngSubmit)="login(loginForm)" class="border-rounded">

        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" formControlName="email" name="email" class="form-control" id="email" placeholder="name@example.com">
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" formControlName="password" name="password" class="form-control" id="password" placeholder="Enter password">
        </div>

        <div class="row">
            <div class="col-auto mr-auto">
                <button class="btn btn-primary btn-block" type="submit">Login</button>
            </div>
            <div class="col-auto">
                <button class="btn btn-danger btn-block" type="reset">Reset</button>
            </div>
          </div>


    </form>




</div>